<a href="https://colab.research.google.com/github/anithash89/Campaigns_Data_Analysis_Cleansing/blob/main/Campaigns_Data_Cleansing_Explore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
#importing pandas module
import pandas as pd

from io import StringIO
data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"
#Read the campaings csv file 

df = pd.read_csv(StringIO(data))
df

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [57]:

    
raw_data = {'StoreId': ['1', '2', '3', '4', '5'],
                'StoreSize': ['Medium', 'large', 'small', 'Medium', 'large'],
                'Campaigns': [1, 2, 3, 1, 2],
                'Week': [1, 2, 3, 4, 1],
                'SalesAmount': [25, 25, 49, 62, 70]}

df1 = pd.DataFrame(raw_data, columns = ['StoreId', 'StoreSize', 'Campaigns',
                                           'Week', 'SalesAmount'])
print(df1)

  StoreId StoreSize  Campaigns  Week  SalesAmount
0       1    Medium          1     1           25
1       2     large          2     2           25
2       3     small          3     3           49
3       4    Medium          1     4           62
4       5     large          2     1           70